{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"         crossorigin="anonymous">
    <script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
    <script type="text/javascript" charset="UTF-8">
    document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"dark","language":"pl","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"www.znajdzwarsztacik.pl"});
    });
    </script>
    <script type="text/plain" data-cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-SKFQ2KHEGQ"></script>
    <script type="text/plain" data-cookie-consent="tracking">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-SKFQ2KHEGQ');
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'icons/favicon.svg' %}">
    <script src="https://kit.fontawesome.com/cc1b9b8a5d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/login_interfaces.css' %}">
    </head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% if messages %}
    <div class="toast-container">
      {% for message in messages %}
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body color-{{ message.tags }}">
          <div class="toast-body__vertical-block "></div>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <i class="fa-solid fa-circle-check"></i> 
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          <i class="fa-solid fa-circle-info"></i>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <i class="fa-solid fa-exclamation"></i>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <i class="fa-solid fa-triangle-exclamation"></i>
          {% endif %}
          <div class="toast-body__content">
            <h5 class="toast-body__title">
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              Sukces 
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
              Informacja
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
              Ostrzeżenie
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              Błąd
              {% endif %}
            </h5>
            <p class="toast-body__text">{{ message }}</p>
          </div>
          <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}

    {% block content %}
    {% endblock %}

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
  </body>
</html>
