{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}


{% block content %}
<section class="accounts" style="background-image: url({% static 'img/accounts.jpg' %});">
  <div class="container d-flex justify-content-center">
    <div class="row my-5">
        <div class="col-12 accounts-box">
            <h1>{% trans "Password Reset" %}</h1>
    
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            
            <p>Wysłaliśmy Ci e-mail z linkiem do zmiany hasła. Jeśli nie możesz go odnaleźć sprawdz folder spam. Skontaktuj się z nami jeśli wiadomość nie dotrze do Ciebie w ciągu kilku minut</p>
            <div class="buttons buttons-two">
                <a class="buttons__btn buttons__btn--primary btn" href="{% url 'main' %}">Strona główna</a>
              </div>
        </div>
    </div>
  <div class="bg-shadow"></div>
</section>

{% endblock %}