{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load bootstrap5 %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}




{% block content %}
<section class="accounts" style="background-image: url({% static 'img/accounts.jpg' %});">
  <div class="container d-flex justify-content-center">
    <div class="row my-5">
        <div class="col-12 accounts-box">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
        
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="buttons-three mb-3">
                    <button class="buttons__btn buttons__btn--primary btn mb-3" type="submit">{% trans "Reset my password" %}</button>
                    <a class="buttons__btn buttons__btn--primary btn" href="{% url 'main' %}">Strona główna</a>
                </div>
            </form>
        
            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>
    </div>
  <div class="bg-shadow"></div>
</section>

{% endblock %}

