{% extends "main/application_base_template.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="body-content" id="body-content">
    <div class="container">
    <h2>{% trans "Change Password" %}</h2>

    <section class="change_password body-content__item">
        <div class="row justify-content-center m-0">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4">
                {% if form.errors %}
                    {% for key, value in form.errors.items %}
                    <div class="alert alert-danger p-3">
                        <strong>{{ value }}</strong>
                    </div>
                    {% endfor %}
                {% endif %}
                <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
            
                    {{ form.oldpassword.label }}
                    {% render_field form.oldpassword class+="form-control mb-2" %}
            
                    {{ form.password1.label }}
                    {% render_field form.password1 class+="form-control mb-2" %}
            
                    {{ form.password2.label }}
                    {% render_field form.password2 class+="form-control mb-4" %}
            
                    <div class="buttons-group">
                        <button type="submit" class="btn app-btn app-primary-btn me-3 mb-2" name="action">{% trans "Change Password" %}</button>
                        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
    </div>
</div>

{% endblock %}
