{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<section class="accounts" style="background-image: url({% static 'img/accounts.webp' %});">
  <div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-10 col-md-8 col-lg-6 col-xl-5 accounts-box">
            <h1>{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>
            <a class="buttons__btn buttons__btn--primary btn" href="{% url 'account_login' %}">Przejdź do logowania</a>
        </div>
    </div>
  <div class="bg-shadow"></div>
</section>

{% endblock %}