{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% load widget_tweaks %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}




{% block content %}
<section class="accounts" style="background-image: url({% static 'img/accounts.webp' %});">
  <div class="container">
    <div class="row justify-content-center my-5">

    <div class="container">
      <div class="row justify-content-center my-5">
          <div class="col-10 col-md-8 col-lg-6 col-xl-5 accounts-box">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <div class="col">
                <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                  {{ form.email.label }}
                  {% render_field form.email class+="form-control mb-2" %}
                </div>
                <div class="buttons-three mt-1 mt-sm-4">
                  <button class="buttons__btn buttons__btn--primary mb-3 btn" type="submit">{% trans "Reset my password" %}</button>
                  <a class="buttons__btn buttons__btn--primary mb-3 btn" href="{% url 'main' %}">Strona główna</a>
                </div>
            </form>
          </div>
      </div>
  <div class="bg-shadow"></div>
</section>

{% endblock %}

