{% extends "account/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<section class="accounts" style="background-image: url({% static 'img/accounts.webp' %});">
  <div class="container d-flex justify-content-center">
    <div class="row my-5">
        <div class="col-12 accounts-box">
            <h1>{% trans "Set Password" %}</h1>
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="buttons-three">
                    <button type="submit" class="buttons__btn buttons__btn--primary mb-3 btn">{% trans 'Set Password' %}</button>
                    <a class="buttons__btn buttons__btn--primary btn" href="{% url 'main' %}">Strona główna</a>
                </div>
            </form>
        </div>
    </div>
  <div class="bg-shadow"></div>
</section>

{% endblock %}