{% extends "account/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}


{% block head_title %}{% trans "Signup" %}{% endblock %}


{% block content %}
<section class="accounts" style="background-image: url({% static 'img/accounts.webp' %});">
  <div class="container">

    <div class="row my-5 signup-form justify-content-center" id="signup-box">
      <div class="accounts-box">
          <div class="col">
            <h1>{% trans "Sign Up" %}</h1>
            <p>{% blocktrans %}Posiadasz już konto? A więc <a class="accounts__link" href="{{ login_url }}">zaloguj się</a> na nie.{% endblocktrans %}</p>
            
            <form class="signup form" id="signup_form" method="post" action="{% url 'account_signup' %}">

              {% csrf_token %}
              <div class="row justify-content-center">
                <h3 class="mb-4">Podstawowe informacje</h3>
                <div class="col-10 col-sm-6 col-lg-4">
                  {{ form.first_name.label }}
                  {% render_field form.first_name class+="form-control mb-2" %}
                </div>
                <div class="col-10 col-sm-6 col-lg-4">
                  {{ form.last_name.label }}
                  {% render_field form.last_name class+="form-control mb-2" %}
                </div>
                <div class="col-12 col-lg-8 mx-1">
                  <p class="form-text">Podaj swoje imie i nazwisko.</p>
                  <hr>
                </div>
                <div class="col-10 col-sm-6 col-lg-4">
                  {{ form.password1.label }}
                  {% render_field form.password1 class+="form-control mb-2" %}
                </div>
                <div class="col-10 col-sm-6 col-lg-4">
                  {{ form.password2.label }}
                  {% render_field form.password2 class+="form-control mb-2" %}
                </div>
                <p class="form-text mb-3">
                  Hasło musi zawierać co najmniej 8 znaków, w tym co najmniej jedną wielką literę, jedną małą literę i jedną cyfrę.
                </p>
                <div class="col-12 col-md-8 mx-1">
                  {% if form.password1.errors %}
                  <div class="alert alert-danger p-3">
                      <strong>{{ form.password1.errors.as_text | cut:"* " }}</strong>
                  </div>
                  {% endif %}
                </div>
                <div class="col-10 col-sm-6 col-lg-4">
                  {{ form.email.label }}
                  {% render_field form.email class+="form-control mb-2" %}
                  <p class="form-text mb-3">Podaj adres email. Za jego pomocą będziesz miał możliwość zalogowania się na swoje konto użytkownika.</p>
                </div>
                <div class="col-12 col-md-8 mx-1">
                {% if form.email.errors %}
                <div class="alert alert-danger p-3">
                    <strong>{{ form.email.errors.as_text | cut:"* " }}</strong>
                </div>
                {% endif %}
                </div>
                <hr>
                <h3 class="mb-4">Typ konta użytkownika</h3>
                <p class="form-text mb-4">Najważniejszym elementem ustalającym jakie funkcjonalności serwisu będą dostępne dla Ciebie, jest wybranie typu konta. Masz do wyboru dwie możliwości.</p>
                {% if form.usertype.errors %}
                <div class="alert alert-danger p-3">
                    <strong>{{ form.usertype.errors.as_text | cut:"* " }}</strong>
                </div>
                {% endif %}
                <div class="col-12 col-sm-6 col-lg-4 mx-lg-5 d-none d-sm-block user-type-select-normal">
                  <div class="card p-3">
                    <img src="{% static 'img/customer.webp' %}" class="card-img-top" alt="Obrazek przedstawiający klienta zainteresowanego ofertą warsztatu">
                    <div class="card-body ">
                      <h5 class="card-title">Klient</h5>
                      <p class="card-body__description">Szukasz warsztatu w swojej lokalizacji i chcesz załatwić formalności przez internet? To konto dla Ciebie!</p>
                      <p class="">Korzyści:</p>
                      <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Wyszukaj warsztat</p>
                      <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Dodawaj własne pojazdy</p>
                      <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Rezerwuj terminy</p>
                      <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Przechowuj dokumenty</p>
                      <button class="buttons__btn buttons__btn--primary btn" id="customer_button_0">Wybierz</button>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 mx-lg-5 d-none d-sm-block user-type-select-normal">
                  <div class="card p-3">
                    <img src="{% static 'img/entrepreneur.webp' %}" class="card-img-top" alt="Obrazek przedstawiający szefa firmy przy komputerze">
                    <div class="card-body">
                      <h5 class="card-title">Przedsiębiorca</h5>
                      <p class="card-body__description">Masz własny warsztat i chciałbyś sie ujawnić w sieci? A może szukasz aplikacji do zarządzania zleceniami?</p>
                      <p class="">Korzyści:</p>
                      <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Zarządzaj zleceniami</p>
                      <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Przeglądaj kalendarz</p>
                      <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Obserwuj statystyki</p>
                      <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Badź widoczny na mapie</p>
                      <button type="button" class="buttons__btn buttons__btn--primary btn" id="entrepreneur_button_0">Wybierz</button>
                    </div>
                  </div>
                </div>

                <div class="col d-sm-none px-0 user-type-select-mobile">
                  <div id="userTypeSelect" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class="card p-3">
                          <img src="{% static 'img/customer.webp' %}" class="card-img-top" alt="Obrazek przedstawiający klienta zainteresowanego ofertą warsztatu">
                          <div class="card-body ">
                            <h5 class="card-title">Klient</h5>
                            <p class="card-body__description">Szukasz warsztatu w swojej lokalizacji i chcesz załatwić formalności przez internet? To konto dla Ciebie!</p>
                            <p class="">Korzyści:</p>
                            <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Wyszukaj warsztat</p>
                            <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Dodawaj własne pojazdy</p>
                            <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Rezerwuj terminy</p>
                            <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Przechowuj dokumenty</p>
                            <button type="button" class="buttons__btn buttons__btn--primary btn" id="customer_button_1">Wybierz</button>
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="card p-3">
                          <img src="{% static 'img/entrepreneur.webp' %}" class="card-img-top" alt="Obrazek przedstawiający szefa firmy przy komputerze">
                          <div class="card-body">
                            <h5 class="card-title">Przedsiębiorca</h5>
                            <p class="card-body__description">Masz własny warsztat i chciałbyś sie ujawnić w sieci? A może szukasz aplikacji do zarządzania zleceniami?</p>
                            <p class="">Korzyści:</p>
                            <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Zarządzaj zleceniami</p>
                            <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Przeglądaj kalendarz</p>
                            <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Obserwuj statystyki</p>
                            <p class="card-body__benefits"><i class="fa-solid fa-check me-2"></i>Badź widoczny na mapie</p>
                            <button type="button" class="buttons__btn buttons__btn--primary btn" id="entrepreneur_button_1">Wybierz</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#userTypeSelect" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#userTypeSelect" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                </div>

                
                  {{ form.usertype.label }}
                  {% render_field form.usertype class+=" mb-2" %}
              </div>
              
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="buttons-two mt-1 mt-sm-4">
                <button id="signup_button" type="submit" disabled class="buttons__btn buttons__btn--primary btn">{% trans "Sign Up" %}</button>
                <a class="buttons__btn buttons__btn--primary btn" href="{% url 'main' %}">Strona główna</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  <div class="bg-shadow"></div>
</section>

<script src="{% static 'js/signup_form_management.js' %}"></script>
{% endblock %}