{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"         crossorigin="anonymous">
    <link rel="icon" href="{% static 'icons/favicon.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc1b9b8a5d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main_app_interface.css' %}">
    {% block extra_head %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="sidenav d-none d-md-flex" id="nav">
        <div class="logo-content">
          <div class="logo">
            <i class="fa-solid fa-magnifying-glass-location"></i>
            <p class="logo__name"><span>Znajdź</span>Warsztacik</p>
          </div>
        </div>
      
        <div class="profile-content">
          {% if request.user.avatar %}
          <img src="{{request.user.avatar.url}}" alt="Zdjęcie profilowe użytkownika"/>
          {% else %}
          <img src="{% static 'img/anonymous-user-image.webp' %}" alt="Zdjęcie Anonimowego użytkownika"/>
          {% endif %}
          <div class="profile_information">
            <p class="m-0 profile_information__name">{{user.first_name}} {{user.last_name}}</p>
            <p class="m-0 profile_information__account-type">
              {% if request.user.is_entrepreneur %}
              Przedsiębiorca
              {% elif request.user.is_customer %}
              Klient
              {% else %}
              Administrator
              {% endif %}
            </p>
          </div>
        </div>
      
        <i class="fa-solid fa-bars hamburger-switch" id="hamburger-switch"></i>
      
        <ul class="nav-items" id="side-nav-items">
          <li class="nav-items__item">
            <a href="{% url 'dashboard' %}" class="item-expand__button collapsed">
              <i class="main-icon fa-solid fa-house"></i>
              <span>Panel główny</span>
            </a>
          </li>
      
          <li class="nav-items__item">
            <a class="item-expand__button collapsed" href="#" type="button" id="accountExpand" data-bs-toggle="collapse" data-bs-target="#accountCollapse" aria-expanded="true" aria-controls="accountCollapse">
              <i class="main-icon fa-solid fa-circle-user"></i>
              <span>Konto</span>
              <i class="collapse-arrow fa-solid fa-angle-left"></i>
            </a>
            <div class="collapse" id="accountCollapse" data-bs-parent="#side-nav-items" aria-labelledby="accountExpand">
              <ul>
                <li><a class="item-expnd__link" href="{% url 'edit_profile' %}">Edytuj dane</a></li>
                <li><a class="item-expnd__link" href="{% url 'account_change_password' %}">Zmień hasło</a></li>
              </ul>
            </div>
          </li>

          {% if request.user.is_entrepreneur %}
          <li class="nav-items__item">
            <a class="item-expand__button collapsed" href="#" type="button" id="garagesExpand" data-bs-toggle="collapse" data-bs-target="#garagesCollapse" aria-expanded="true" aria-controls="garagesCollapse">
              <i class="main-icon fa-solid fa-warehouse"></i>
              <span>Warsztat</span>
              <i class="collapse-arrow fa-solid fa-angle-left"></i>
            </a>
            <div class="collapse" id="garagesCollapse" data-bs-parent="#side-nav-items" aria-labelledby="garagesExpand">
              <ul>
                {% if not user_garage %}
                <li><a class="item-expnd__link" href="{% url 'garage_create' %}">Utwórz warsztat</a></li>
                {% else %}
                <li><a class="item-expnd__link" href="{% url 'garage_edit' user_garage.id %}">Edytuj dane</a></li>
                <li><a class="item-expnd__link" href="#">Wizytówka</a></li>
                {% endif %}
              </ul>
            </div>
          </li>
          {% endif %}

          {% if request.user.is_customer %}
          <li class="nav-items__item">
            <a class="item-expand__button collapsed" href="#" type="button" id="carsExpand" data-bs-toggle="collapse" data-bs-target="#carsCollapse" aria-expanded="true" aria-controls="carsCollapse">
              <i class="main-icon fa-solid fa-car"></i>
              <span>Pojazdy</span>
              <i class="collapse-arrow fa-solid fa-angle-left"></i>
            </a>
            <div class="collapse" id="carsCollapse" data-bs-parent="#side-nav-items" aria-labelledby="carsExpand">
              <ul>
                <li><a class="item-expnd__link" href="{% url 'car_list' %}">Twoje pojazdy</a></li>
                <li><a class="item-expnd__link" href="{% url 'car_create_select_method' %}">Dodaj pojazd</a></li>
              </ul>
            </div>
          </li>
          {% endif %}


          <li class="nav-items__item">
            <a class="item-expand__button collapsed" href="#" type="button" id="ordersExpand" data-bs-toggle="collapse" data-bs-target="#ordersCollapse" aria-expanded="true" aria-controls="ordersCollapse">
              <i class="main-icon fa-solid fa-calendar-days"></i>
              <span>Zlecenia</span>
              <i class="collapse-arrow fa-solid fa-angle-left"></i>
            </a>
            <div class="collapse" id="ordersCollapse" data-bs-parent="#side-nav-items" aria-labelledby="ordersExpand">
              <ul>
                <li><a class="item-expnd__link" href="#">Utwórz zlecenie</a></li>
                <li><a class="item-expnd__link" href="#">Historia zleceń</a></li>
              </ul>
            </div>
          </li>
        </ul>

        <div class="logout-content">
          <button type="button" data-bs-toggle="modal" data-bs-target="#logoutWindow">
            <span>Wyloguj się</span>
            <i class="fa-solid fa-right-from-bracket log-out"></i>
          </button>
        </div>
    </nav>

    <nav class="navbar navbar-dark navbar-expand-lg topnav d-md-none">
    <div class="container">
        <div class="logo-content">
        <div class="logo">
            <i class="fa-solid fa-magnifying-glass-location"></i>
            <p class="logo__name"><span>Znajdź</span>Warsztacik</p>
        </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
    
    
        <div class="row align-items-center">
            <div class="profile-content col">
            {% if request.user.avatar %}
            <img src="{{request.user.avatar.url}}" alt="Zdjęcie profilowe użytkownika"/>
            {% else %}
            <img src="{% static 'img/anonymous-user-image.webp' %}" alt="Zdjęcie Anonimowego użytkownika"/>
            {% endif %}
            <div class="profile_information">
                <p class="m-0 profile_information__name">{{ user.first_name }} {{user.last_name}}</p>
                <p class="m-0 profile_information__account-type">
                  {% if request.user.is_entrepreneur %}
                  Przedsiębiorca
                  {% elif request.user.is_customer %}
                  Klient
                  {% else %}
                  Administrator
                  {% endif %}
                </p>
            </div>
            </div>
            <div class="logout-content col-2">
            <button type="button" data-bs-toggle="modal" data-bs-target="#logoutWindow">
                <i class="fa-solid fa-right-from-bracket log-out"></i>
            </button>
            </div>
        </div>
        <ul class="nav-items" id="top-nav-items">
            <li class="nav-items__item">
            <a href="{% url 'dashboard' %}" class="item-expand__button collapsed">
                <i class="main-icon fa-solid fa-house"></i>
                <span>Panel główny</span>
            </a>
            </li>
        
            <li class="nav-items__item">
            <a class="item-expand__button collapsed" href="#" type="button" id="accountExpand" data-bs-toggle="collapse" data-bs-target="#accountCollapse" aria-expanded="true" aria-controls="accountCollapse">
                <i class="main-icon fa-solid fa-circle-user"></i>
                <span>Konto</span>
                <i class="collapse-arrow fa-solid fa-angle-left"></i>
            </a>
            <div class="collapse" id="accountCollapse" data-bs-parent="#top-nav-items" aria-labelledby="accountExpand">
                <ul>
                  <li><a class="item-expnd__link" href="{% url 'edit_profile' %}">Edytuj dane</a></li>
                  <li><a class="item-expnd__link" href="{% url 'account_change_password' %}">Zmień hasło</a></li>
                </ul>
            </div>
            </li>

            {% if request.user.is_customer %}
            <li class="nav-items__item">
            <a class="item-expand__button collapsed" href="#" type="button" id="carsExpand" data-bs-toggle="collapse" data-bs-target="#carsCollapse" aria-expanded="true" aria-controls="carsCollapse">
                <i class="main-icon fa-solid fa-car"></i>
                <span>Pojazdy</span>
                <i class="collapse-arrow fa-solid fa-angle-left"></i>
            </a>
            <div class="collapse" id="carsCollapse" data-bs-parent="#top-nav-items" aria-labelledby="carsExpand">
                <ul>
                <li><a class="item-expnd__link" href="{% url 'car_list' %}">Twoje pojazdy</a></li>
                <li><a class="item-expnd__link" href="{% url 'car_create_select_method' %}">Dodaj pojazd</a></li>
                </ul>
            </div>
            </li>
            {% endif %}

            {% if request.user.is_entrepreneur %}
            <li class="nav-items__item">
              <a class="item-expand__button collapsed" href="#" type="button" id="garagesExpand" data-bs-toggle="collapse" data-bs-target="#garagesCollapse" aria-expanded="true" aria-controls="garagesCollapse">
                <i class="main-icon fa-solid fa-warehouse"></i>
                <span>Warsztat</span>
                <i class="collapse-arrow fa-solid fa-angle-left"></i>
              </a>
              <div class="collapse" id="garagesCollapse" data-bs-parent="#top-nav-items" aria-labelledby="garagesExpand">
                <ul>
                  {% if not user_garage %}
                  <li><a class="item-expnd__link" href="{% url 'garage_create' %}">Utwórz warsztat</a></li>
                  {% else %}
                  <li><a class="item-expnd__link" href="{% url 'garage_edit' user_garage.id %}">Edytuj dane</a></li>
                  <li><a class="item-expnd__link" href="#">Wizytówka</a></li>
                  {% endif %}
                </ul>
              </div>
            </li>
            {% endif %}

            <li class="nav-items__item">
            <a class="item-expand__button collapsed" href="#" type="button" id="ordersExpand" data-bs-toggle="collapse" data-bs-target="#ordersCollapse" aria-expanded="true" aria-controls="ordersCollapse">
                <i class="main-icon fa-solid fa-calendar-days"></i>
                <span>Zlecenia</span>
                <i class="collapse-arrow fa-solid fa-angle-left"></i>
            </a>
            <div class="collapse" id="ordersCollapse" data-bs-parent="#top-nav-items" aria-labelledby="ordersExpand">
                <ul>
                <li><a class="item-expnd__link" href="#">Utwórz zlecenie</a></li>
                <li><a class="item-expnd__link" href="#">Historia zleceń</a></li>
                </ul>
            </div>
            </li>
        </ul>
        </div>
    </div>
    </nav>

    {% block content %}
    {% endblock %}
    
  {% if messages %}
    <div class="toast-container">
      {% for message in messages %}
      <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-body color-{{ message.tags }}">
          <div class="toast-body__vertical-block "></div>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
          <i class="fa-solid fa-circle-check"></i> 
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
          <i class="fa-solid fa-circle-info"></i>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
          <i class="fa-solid fa-exclamation"></i>
          {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
          <i class="fa-solid fa-triangle-exclamation"></i>
          {% endif %}
          <div class="toast-body__content">
            <h5 class="toast-body__title">
              {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
              Sukces 
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
              Informacja
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
              Ostrzeżenie
              {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              Błąd
              {% endif %}
            </h5>
            <p class="toast-body__text">{{ message }}</p>
          </div>
          <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
      {% endfor %}
    </div>
  {% endif %}
  
  <div class="modal fade" id="logoutWindow" tabindex="-1" aria-labelledby="Logout Window" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Wyloguj</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="m-0">Czy na pewno chcesz się wylogować?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn app-btn app-cancel-btn" data-bs-dismiss="modal">Anuluj</button>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
            {% endif %}
            <button type="submit" class="btn app-btn app-primary-btn">Wyloguj</button>
          </form>
        </div>
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>