{% extends "main/application_base_template.html" %} {% load static %}
 {% block title %}Panel główny{% endblock %} {% block extra_head %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/entrepreneur_dashboard_charts.js' %}"></script>
{% endblock %}

<nav class="sidenav d-none d-md-flex" id="nav">
  <div class="logo-content">
    <div class="logo">
      <i class="fa-solid fa-magnifying-glass-location"></i>
      <p class="logo__name"><span>Znajdź</span>Warsztacik</p>
    </div>
  </div>

  <div class="profile-content">
    <img
      src="{% static 'img/anonymous-user-image.jpg' %}"
      alt="Obrazek użytkownika anonimowego"
    />
    <div class="profile_information">
      <p class="m-0 profile_information__name">Bartłomiej Swatek</p>
      <p class="m-0 profile_information__account-type">Przedsiębiorca</p>
    </div>
  </div>

  <i class="fa-solid fa-bars hamburger-switch" id="hamburger-switch"></i>

  <ul class="nav-items" id="side-nav-items">
    <li class="nav-items__item">
      <a href="#" class="item-expand__button collapsed">
        <i class="main-icon fa-solid fa-house"></i>
        <span>Panel główny</span>
      </a>
    </li>

    <li class="nav-items__item">
      <a class="item-expand__button collapsed" href="#" type="button" id="accountExpand" data-bs-toggle="collapse" data-bs-target="#accountCollapse" aria-expanded="true" aria-controls="accountCollapse">
        <i class="main-icon fa-solid fa-circle-user"></i>
        <span>Konto</span>
        <i class="collapse-arrow fa-solid fa-angle-left"></i>
      </a>
      <div class="collapse" id="accountCollapse" data-bs-parent="#side-nav-items" aria-labelledby="accountExpand">
        <ul>
          <li><a class="item-expnd__link" href="#">Profil</a></li>
          <li><a class="item-expnd__link" href="#">Edytuj dane</a></li>
          <li><a class="item-expnd__link" href="#">Zmień hasło</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-items__item">
      <a class="item-expand__button collapsed" href="#" type="button" id="carsExpand" data-bs-toggle="collapse" data-bs-target="#carsCollapse" aria-expanded="true" aria-controls="carsCollapse">
        <i class="main-icon fa-solid fa-car"></i>
        <span>Pojazdy</span>
        <i class="collapse-arrow fa-solid fa-angle-left"></i>
      </a>
      <div class="collapse" id="carsCollapse" data-bs-parent="#side-nav-items" aria-labelledby="carsExpand">
        <ul>
          <li><a class="item-expnd__link" href="#">Twoje pojazdy</a></li>
          <li><a class="item-expnd__link" href="#">Dodaj pojazd</a></li>
          <li><a class="item-expnd__link" href="#">Edytuj pojazd</a></li>
        </ul>
      </div>
    </li>

    <li class="nav-items__item">
      <a class="item-expand__button collapsed" href="#" type="button" id="ordersExpand" data-bs-toggle="collapse" data-bs-target="#ordersCollapse" aria-expanded="true" aria-controls="ordersCollapse">
        <i class="main-icon fa-solid fa-calendar-days"></i>
        <span>Zlecenia</span>
        <i class="collapse-arrow fa-solid fa-angle-left"></i>
      </a>
      <div class="collapse" id="ordersCollapse" data-bs-parent="#side-nav-items" aria-labelledby="ordersExpand">
        <ul>
          <li><a class="item-expnd__link" href="#">Utwórz zlecenie</a></li>
          <li><a class="item-expnd__link" href="#">Historia zleceń</a></li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="logout-content">
    <a href="#">
      <span>Wyloguj się</span>
      <i class="fa-solid fa-right-from-bracket log-out"></i>
    </a>
  </div>
</nav>

<nav class="navbar navbar-dark navbar-expand-lg topnav d-md-none">
  <div class="container">
    <div class="logo-content">
      <div class="logo">
        <i class="fa-solid fa-magnifying-glass-location"></i>
        <p class="logo__name"><span>Znajdź</span>Warsztacik</p>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">


      <div class="row align-items-center">
        <div class="profile-content col">
          <img src="{% static 'img/anonymous-user-image.jpg' %}" alt="Obrazek użytkownika anonimowego"/>
          <div class="profile_information">
            <p class="m-0 profile_information__name">Bartłomiej Swatek</p>
            <p class="m-0 profile_information__account-type">Przedsiębiorca</p>
          </div>
        </div>
        <div class="logout-content col-2">
          <a href="#">
            <i class="fa-solid fa-right-from-bracket log-out"></i>
          </a>
        </div>
      </div>
      <ul class="nav-items" id="top-nav-items">
        <li class="nav-items__item">
          <a href="#" class="item-expand__button collapsed">
            <i class="main-icon fa-solid fa-house"></i>
            <span>Panel główny</span>
          </a>
        </li>
    
        <li class="nav-items__item">
          <a class="item-expand__button collapsed" href="#" type="button" id="accountExpand" data-bs-toggle="collapse" data-bs-target="#accountCollapse" aria-expanded="true" aria-controls="accountCollapse">
            <i class="main-icon fa-solid fa-circle-user"></i>
            <span>Konto</span>
            <i class="collapse-arrow fa-solid fa-angle-left"></i>
          </a>
          <div class="collapse" id="accountCollapse" data-bs-parent="#top-nav-items" aria-labelledby="accountExpand">
            <ul>
              <li><a class="item-expnd__link" href="#">Profil</a></li>
              <li><a class="item-expnd__link" href="#">Edytuj dane</a></li>
              <li><a class="item-expnd__link" href="#">Zmień hasło</a></li>
            </ul>
          </div>
        </li>
    
        <li class="nav-items__item">
          <a class="item-expand__button collapsed" href="#" type="button" id="carsExpand" data-bs-toggle="collapse" data-bs-target="#carsCollapse" aria-expanded="true" aria-controls="carsCollapse">
            <i class="main-icon fa-solid fa-car"></i>
            <span>Pojazdy</span>
            <i class="collapse-arrow fa-solid fa-angle-left"></i>
          </a>
          <div class="collapse" id="carsCollapse" data-bs-parent="#top-nav-items" aria-labelledby="carsExpand">
            <ul>
              <li><a class="item-expnd__link" href="#">Twoje pojazdy</a></li>
              <li><a class="item-expnd__link" href="#">Dodaj pojazd</a></li>
              <li><a class="item-expnd__link" href="#">Edytuj pojazd</a></li>
            </ul>
          </div>
        </li>
    
        <li class="nav-items__item">
          <a class="item-expand__button collapsed" href="#" type="button" id="ordersExpand" data-bs-toggle="collapse" data-bs-target="#ordersCollapse" aria-expanded="true" aria-controls="ordersCollapse">
            <i class="main-icon fa-solid fa-calendar-days"></i>
            <span>Zlecenia</span>
            <i class="collapse-arrow fa-solid fa-angle-left"></i>
          </a>
          <div class="collapse" id="ordersCollapse" data-bs-parent="#top-nav-items" aria-labelledby="ordersExpand">
            <ul>
              <li><a class="item-expnd__link" href="#">Utwórz zlecenie</a></li>
              <li><a class="item-expnd__link" href="#">Historia zleceń</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="body-content" id="body-content">
  <div class="container">
    <section class="orders-statistics">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="info-box pending-orders">
            <i class="fa-solid fa-hourglass-end info-box__icon"></i>
            <h4 class="info-box__title">oczekujące</h4>
            <hr/>
            <p class="info-box__amount">Łącznie: <span>3</span></p>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="info-box accepted-orders">
            <i class="fa-solid fa-clipboard-check info-box__icon"></i>
            <h4 class="info-box__title">zaakceptowane</h4>
            <hr/>
            <p class="info-box__amount">Łącznie: <span>3</span></p>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="info-box in-progress-orders">
            <i class="fa-solid fa-list-check info-box__icon"></i>
            <h4 class="info-box__title">w trakcie</h4>
            <hr/>
            <p class="info-box__amount">Łącznie: <span>3</span></p>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="info-box completed-orders">
            <i class="fa-solid fa-circle-check info-box__icon"></i>
            <h4 class="info-box__title">ukończone</h4>
            <hr/>
            <p class="info-box__amount">Łącznie: <span>3</span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="garage-information py-4">
      <div class="row justify-content-center">

        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
          <div class="garage-information__box about-garage pt-3">
            <h4 class="about-garage__title">Informacje o warsztacie</h4>
            <i class="fa-solid fa-warehouse about-garage__icon"></i>
            <p class="about-garage__garage-name">RRCustoms</p>
            <ul class="about-garage__address">
              <li><i class="fa-solid fa-house address__icon"></i><span>Wiązów</span></li>
              <li><i class="fa-solid fa-road address__icon"></i><span>1-go Maja 22</span></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6 col-xl-4">
          <div class="garage-information__box pt-3">
            <div id="garageRate"></div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="garage-information__box pt-3">
            <div id="lastDaysProfit"></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

{% endblock %}
