{% extends "main/application_base_template.html" %} {% load static %}
 {% block title %}Panel główny{% endblock %} {% block extra_head %} 

 {% endblock %}
 
 
 {% block content %}
<div class="body-content" id="body-content">
  <div class="container">
    {% if user_car != None %}
    <section class="car-information">
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-xl-5">
          <div class="car-information__info-box about-car py-3">
              <p class="info-box__title m-0">Pojazd</p>
              <hr>
              <i class="fa-solid fa-car info-box__icon"></i>
              <p class="info-box__details">Marka: <span>Audi</span></p>
              <p class="info-box__details">Model: <span>RS7</span></p>
              <p class="info-box__details">Rok produkcji: <span>2007</span></p>
              <p class="info-box__details m-0">VIN: <span>WF0KXXGCBKBL81843</span></p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-5 mt-3 mt-md-0">
          <div class="car-information__info-box about-car py-3">
              <p class="info-box__title m-0">Terminy</p>
              <hr>
              <i class="fa-solid fa-calendar-day info-box__icon"></i>
              <p class="m-0">Badanie techniczne:</p>
              <p class="m-0">Aktualne <i class="fa-solid fa-circle-check about-car__review-icon-ok"></i></p>
              <p class="info-box__details">Termin: <span>22.02.2022</span></p>
              <p class="m-0">Ubezpiecznie pojazdu:</p>
              <p class="info-box__details m-0">Ważne do: <span>11.10.2022</span></p>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-5 my-3">
          <div class="car-information__info-box last-service py-3">
            <p class="info-box__title m-0">Ostatnia wykonywana usługa</p>
            <hr>
            <i class="fa-solid fa-toolbox info-box__icon"></i>
            <p class="info-box__details">Nazwa warsztatu: <span>Auto Sudacki</span></p>
            <p class="info-box__details">Data wykonania: <span>19.07.2022</span></p>
            <p class="info-box__details">Koszt: <span>370zł</span></p>
            <button class="btn app-btn app-primary-btn">Więcej informacji</button>
          </div>
        </div>
        <div class="col-12 col-md-6 col-xl-5 my-3">
          <div class="car-information__info-box d-flex align-items-center justify-content-center">
            <div id="sumOfCarCosts"></div>
          </div>
        </div>
      </div>
    </section>
    {% else %}
    <section class="no-car">
      <div class="row justify-content-center">
        <div class="col col-md-8 col-lg-6 no-car__box">
          <h3 class="box__title mb-2">Witaj Kliencie!</h3>
          <hr>
          <p>Dziękujemy za skorzystanie z naszego serwisu.</p>
          <p>Aby w pełni wykorzystać potencjał naszego serwisu zalecamy abyś w pierwszej kolejności dodał swój pierwszy pojazd.</p>
          <p>Dzięki temu będziesz miał możliwość przesłania informacji na jego temat odrazu podczas tworzenia zlecenia w wybranej przez siebie placówce.</p>
          <p>Użyj przycisku poniżej aby dodać pojazd do naszego systemu.</p>
          <a href="" class="btn app-btn app-primary-btn">Dodaj pojazd</a>
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</div>

<div class="modal fade" id="logoutWindow" tabindex="-1" aria-labelledby="Logout Window" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Wyloguj</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="m-0">Czy na pewno chcesz się wylogować?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn app-btn app-cancel-btn" data-bs-dismiss="modal">Anuluj</button>
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
          <button type="submit" class="btn app-btn app-primary-btn">Wyloguj</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% if user_garage != None %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/customer_dashboard_charts.js' %}"></script>
{% endif %}
{% endblock %}
