{% extends "main/application_base_template.html" %} {% load static %}
 {% block title %}Panel główny{% endblock %} {% block extra_head %} 
 {% endblock %}
 
 {% block content %}


 

<div class="body-content" id="body-content">
  <div class="container">
    {% if user_garage != None %}
    <section class="orders-statistics">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="info-box pending-orders">
            <i class="fa-solid fa-hourglass-end info-box__icon"></i>
            <h4 class="info-box__title">oczekujące</h4>
            <hr/>
            <p class="info-box__amount">Łącznie: <span>3</span></p>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="info-box accepted-orders">
            <i class="fa-solid fa-clipboard-check info-box__icon"></i>
            <h4 class="info-box__title">zaakceptowane</h4>
            <hr/>
            <p class="info-box__amount">Łącznie: <span>3</span></p>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="info-box in-progress-orders">
            <i class="fa-solid fa-list-check info-box__icon"></i>
            <h4 class="info-box__title">w trakcie</h4>
            <hr/>
            <p class="info-box__amount">Łącznie: <span>3</span></p>
          </div>
        </div>
  
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="info-box completed-orders">
            <i class="fa-solid fa-circle-check info-box__icon"></i>
            <h4 class="info-box__title">ukończone</h4>
            <hr/>
            <p class="info-box__amount">Łącznie: <span>3</span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="garage-information py-4">
      <div class="row justify-content-center">

        <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-3">
          <div class="garage-information__info-box about-garage pt-3">
            <div class="garage-information__title-box">
              <h4 class="info-box__title">Informacje o warsztacie</h4>
              <hr>
              <i class="fa-solid fa-warehouse info-box__icon"></i>
            </div>
            <p class="info-box__garage-name">{{ user_garage.name}}</p>
            <ul class="about-garage__address">
              <li><i class="fa-solid fa-map-location-dot address__icon"></i></li>
              <li><span>{{ user_garage.full_address }}</span></li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-6 col-xl-4 mb-3">
          <div class="garage-information__info-box pt-3">
            <div id="garageRate"></div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <div class="garage-information__info-box py-3">
            <div id="lastDaysProfit"></div>
          </div>
        </div>
      </div>
    </section>
    {% else %}
    <section class="no-garage">
      <div class="row justify-content-center">
        <div class="col col-md-8 col-lg-6 no-garage__box">
          <h3 class="box__title mb-2">Witaj Przedsiębiorco!</h3>
          <hr>
          <p>Dziękujemy za skorzystanie z naszego serwisu.</p>
          <p>Aby móc korzystać z funkcjonalności naszej aplikacji potrzebujesz dodać warsztat samochodowy do swojego konta.</p>
          <p>Dzięki temu będziesz miał możliwość umiejscowienia swojego warsztatu na mapie naszej aplikacji oraz skorzystasz z naszego systemu zarządzania zleceniami.</p>
          <p>Użyj przycisku poniżej aby dodać warsztat do naszego systemu.</p>
          <a href="{% url 'garage_create' %}" class="btn app-btn app-primary-btn">Dodaj warsztat</a>
        </div>
      </div>
    </section>
    {% endif %}
  </div>
</div>

{% if user_garage != None %}
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="{% static 'js/entrepreneur_dashboard_charts.js' %}"></script>
{% endif %}
{% endblock %}
