{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"         crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&family=Roboto:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cc1b9b8a5d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <title>Znajdź Warsztacik</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">Znajdź warsztacik<i class="fa-solid fa-magnifying-glass-location ms-2"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                  <a class="dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dołącz do nas!</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="nav-link" href="{% url 'account_login' %}">Logowanie</a></li>
                      <li><a class="nav-link" href="{% url 'account_signup' %}">Rejestracja</a></li>
                  </ul>
              </li>
              <a class="nav-link" href="#home">Home</a>
              <a class="nav-link" href="#about-app">O aplikacji</a>
              <a class="nav-link" href="#functions">Funkcje</a>
          </div>
        </div>
    </div>
</nav>
    <header style="background-image: url({% static 'img/main.jpg' %});" id="home">
      <div class="welcome-box container">
        <p class="welcome-box__text welcome-box__text--large">Witaj na <span class="welcome-box__text--colour">Znajdź</span>Warsztacik</p>
        <p class="welcome-box__text welcome-box__text--medium">Posiadasz warsztat i chciałbyś zdobyć więcej klientów?</p>
        <p class="welcome-box__text welcome-box__text--medium">A może szukasz mechanika w okolicy?</p>
      </div>

      <div class="buttons">
        <a href="#about-app" class="buttons__btn buttons__btn--primary btn">Sprawdź co oferujemy</a>
        <a href="{% url 'account_login' %}" class="buttons__btn buttons__btn--primary btn">Przejdź do logowania</a>
      </div>
        <div class="bg-shadow"></div>
    </header>

    <section class="about-app py-5" id="about-app">
      <div class="logo">
        <h2 class="logo__title mb-0">O aplikacji</h2>
        <div class="logo__underscore logo__underscore--black mb-4"></div>
      </div>
      
        <div class="description container">
          <p class="description__text">Aplikacja została stworzona dla osób szukających warsztatu samochodowego lub przedsiębiorców, którzy chcieliby pozyskać nowych klientów oraz zarządzać zleceniami w swojej placówce.</p>
        </div>
    </section>

    <section class="functions py-5" id="functions" style="background-image: url({% static 'img/functions.jpg' %});">
      <div class="logo">
        <h2 class="logo__title mb-0">Funkcje</h2>
        <div class="logo__underscore logo__underscore--white mb-4"></div>
      </div>
      
      <div class="container">
        <div class="functions-boxes row">

          <div class="col-12 col-md-5 functions-boxes__column m-2">
            <h4 class="column__title">Przedsiębiorca</h4>

            <div class="column-box">
              <i class="column-box__icon fa-solid fa-clipboard-list"></i>
              <p class="column-box__title mb-0">Zlecenia</p>
              <p class="column-box__text">Zarządzaj zleceniami w warsztacie</p>
            </div>

            <div class="column-box">
              <i class="column-box__icon fa-solid fa-calendar-days"></i>
              <p class="column-box__title mb-0">Kalendarz</p>
              <p class="column-box__text">Korzystaj z kalendarza aby przeglądać terminy zleceń</p>
            </div>

            <div class="column-box">
              <i class="column-box__icon fa-solid fa-chart-column"></i>
              <p class="column-box__title mb-0">Statystyki</p>
              <p class="column-box__text">Sprawdzaj statystyki swojego warsztatu</p>
            </div>

            <div class="column-box">
              <i class="column-box__icon fa-solid fa-map-location-dot"></i>
              <p class="column-box__title mb-0">Mapy</p>
              <p class="column-box__text">Dodaj swój warsztat do mapy</p>
            </div>
          </div>

          <div class="col-12 col-md-5 functions-boxes__column m-2">
            <h4 class="column__title">Klient</h4>

            <div class="column-box">
              <i class="column-box__icon fa-solid fa-magnifying-glass"></i>
              <p class="column-box__title mb-0">Wyszukiwanie</p>
              <p class="column-box__text">Wyszukaj warsztat odpowiedni dla Ciebie</p>
            </div>

            <div class="column-box">
              <i class="column-box__icon fa-solid fa-calendar-check"></i>
              <p class="column-box__title mb-0">Rezerwacje</p>
              <p class="column-box__text">Zarządzaj rezerwacjami terminów w wybranym warsztacie</p>
            </div>

            <div class="column-box">
              <i class="column-box__icon fa-solid fa-car"></i>
              <p class="column-box__title mb-0">Pojazdy</p>
              <p class="column-box__text">Dodawaj pojazdy do swojego konta oraz zarządzaj nimi</p>
            </div>

            <div class="column-box">
              <i class="column-box__icon fa-solid fa-file-lines"></i>
              <p class="column-box__title mb-0">Dokumenty</p>
              <p class="column-box__text">Przechowuj faktury wystawione przez warsztat</p>
            </div>


          </div>

        </div>
      </div>
      <div class="bg-shadow"></div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
    <script src="{% static 'js/main_page.js' %}"></script>
</body>
</html>