{% extends "main/application_base_template.html" %} 
{% load static %}
{% load widget_tweaks %}
{% block title %}Panel główny{% endblock %} 
{% block extra_head %} 
{% endblock %}
 
{% block content %}

<div class="body-content" id="body-content">
  <div class="container">
    <h2>Lista usług warsztatu</h2>
    <section class="garage-services-edit py-5">
      <div class="row justify-content-center m-0">
        <div class="col-md-12">
          <form method="post">
            {% csrf_token %}

            <p class="mb-1">Poniżej znajduje się dostępna lista usług, które możesz wybrać jako dostępne w Twoim warsztacie.</p>
            <p class="mb-5">Wybierz usługi, które świadczy Twój warsztat oraz naciśnij przycisk "Zatwierdź zmiany" aby zapisać usługi.</p>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">

              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.mechanical_repairs.label }}</h5>
                  </div>
                  {% render_field form.mechanical_repairs class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/mechanical_repairs.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający silnik pojazdu">
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.electrical_repairs.label }}</h5>
                  </div>
                  {% render_field form.electrical_repairs class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/electrical_repairs.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający silnik pojazdu wraz z podłączonymi klemami do akumulatora">
                </div>
              </div>
              
              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.tire_vulcanization_and_replacement.label }}</h5>
                  </div>
                  {% render_field form.tire_vulcanization_and_replacement class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/tire_vulcanization_and_replacement.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający pracownika zmieniającego koła">
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.air_conditioning_repair_and_cleaning.label }}</h5>
                  </div>
                  {% render_field form.air_conditioning_repair_and_cleaning class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/air_conditioning_repair_and_cleaning.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający pracownika zmieniającego koła">
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.bodywork_and_paint_repairs.label }}</h5>
                  </div>
                  {% render_field form.bodywork_and_paint_repairs class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/bodywork_and_paint_repairs.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający pracownika zmieniającego koła">
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.window_replacement.label }}</h5>
                  </div>
                  {% render_field form.window_replacement class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/window_replacement.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający pracownika zmieniającego koła">
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.chassis_maintenance.label }}</h5>
                  </div>
                  {% render_field form.chassis_maintenance class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/chassis_maintenance.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający pracownika zmieniającego koła">
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.car_tuning_and_sports_modifications.label }}</h5>
                  </div>
                  {% render_field form.car_tuning_and_sports_modifications class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/car_tuning_and_sports_modifications.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający pracownika zmieniającego koła">
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.inspections.label }}</h5>
                  </div>
                  {% render_field form.inspections class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/inspections.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający pracownika zmieniającego koła">
                </div>
              </div>

              <div class="col">
                <div class="card">
                  <div class="card-title m-0">
                    <h5 class="my-3">{{ form.lpg_installations_and_periodic_inspections.label }}</h5>
                  </div>
                  {% render_field form.lpg_installations_and_periodic_inspections class+="form-check-input d-none" %}
                  <img src="{% static 'img/garages/services/lpg_installations_and_periodic_inspections.webp' %}" class="card-img-top px-3 pb-3" alt="Obraz przedstawiający pracownika zmieniającego koła">
                </div>
              </div>
            </div>
            
            <button type="submit" class="btn app-btn app-primary-btn my-3 me-3">Zatwierdź zmiany</button>

            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>

<script src="{% static 'js/garage_services_list.js' %}"></script>
{% endblock %}