{% extends "main/application_base_template.html" %} 
{% load static %}
{% load widget_tweaks %}
{% block title %}Panel główny{% endblock %} 
{% block extra_head %} 


{% endblock %}
 
{% block content %}

<div class="body-content" id="body-content">
  <div class="container">
    <h2>O Warsztacie</h2>

    <section class="garage-card pb-5">
      <div class="row justify-content-center m-0">
        <div class="col-12 col-lg-6 mb-3 px-0 px-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Informacje o warsztacie</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ garage.name }}</h6>

              <div class="d-flex justify-content-center">
                {% if garage.is_opened %}
                  <p class="card-text opening-status">Warsztat jest otwarty <i class="fa-solid fa-thumbs-up"></i></p>
                {% else %}
                  <p class="card-text opening-status">Warsztat jest zamknięty <i class="fa-solid fa-thumbs-down"></i></p>
                {% endif %}
              </div>


              <hr class="mb-4">

              <p class="mb-0">Adres:</p>
              <p class="card-text m-0"><span>{{ garage.full_address }}</span></p>
              <hr class="mb-4">

              <p class="mb-0">Dodatkowe informacje:</p>
              <p class="card-text m-0">Numer NIP - <span>{{ garage.nip_number }}</span></p>
              <p class="card-text m-0">Adres WWW - 
                {% if garage.website_url %} 
                <span><a class="garage-url" href="{{ garage.website_url }}">{{ garage.website_url }}</a></span> 
                {% else %} Brak 
                {% endif %}
              </p>
              <hr class="mb-4">

              <p class="mb-0">Opis:</p>
              {% if garage.description %}
              <p class="card-text">{{ garage.description }}</p>
              {% else %}
              <p class="card-text">Brak opisu</p>
              {% endif %}

            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-3 px-0 px-lg-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Lokalizacja</h5>
              <div class="map" id="map"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-3 mb-lg-0 px-0 px-lg-2">
          <div class="card garage-card__services">
            <div class="card-body">
              <h5 class="card-title">Zakres wykonywanych usług</h5>
              <ul class="list-group">
                {% for service_name, state in garage_services %}
                <li class="list-group-item">
                  {{ service_name }}
                  {% if state %}
                  <span>Dostępna <i class="fa-solid fa-square-check"></i></span>
                  {% else %}
                  <span>Niedostępna <i class="fa-solid fa-square-xmark"></i></span>
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 px-0 px-lg-2">
          <div class="card garage-card__opening-hours">
            <div class="card-body">
              <h5 class="card-title">Godziny otwarcia warsztatu</h5>
              <ul class="list-group">
                
                {% for day in garage_opening_hours %}
                <li class="list-group-item">

                  {% if day.weekday == 1 %}
                      <p class="m-0 opening-hours__weekday">Poniedziałek</p>
                  {% elif day.weekday == 2 %}
                      <p class="m-0 opening-hours__weekday">Wtorek</p>
                  {% elif day.weekday == 3 %}
                      <p class="m-0 opening-hours__weekday">Środa</p>
                  {% elif day.weekday == 4 %}
                      <p class="m-0 opening-hours__weekday">Czwartek</p>
                  {% elif day.weekday == 5 %}
                      <p class="m-0 opening-hours__weekday">Piątek</p>
                  {% elif day.weekday == 6 %}
                      <p class="m-0 opening-hours__weekday">Sobota</p>
                  {% elif day.weekday == 7 %}
                      <p class="m-0 opening-hours__weekday">Niedziela</p>
                  {% endif %}
                {% if day.from_hour or day.to_hour %}
                <p class="m-0">
                  {% if day.from_hour %}
                    {{ day.from_hour }}
                  {% else %}
                    Nie określono
                  {% endif %}
                  <span class="px-3">-</span>
                  {% if day.to_hour %}
                    {{ day.to_hour }}
                  {% else %}
                    Brak
                  {% endif %}
                </p>
                {% else %}
                <p class="text-danger m-0">Nieczynne</p>
                {% endif %}
                </li>
              {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<script type="text/javascript">
let garageLatitue = parseFloat('{{garage.location.latitude}}'.replace(',', '.'))
let garageLongitude = parseFloat('{{garage.location.longitude}}'.replace(',', '.'))
</script>
<script src="{% static 'js/initialize_garage_information_map.js' %}"></script>
<script
src="https://maps.googleapis.com/maps/api/js?key={{map_api_key}}&callback=initMap" async defer>
</script>


{% endblock %}