@use "utilities/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding-left: 78px;
  background-color: rgb(247, 247, 247);
  font-family: "Roboto", sans-serif;
}

.app-btn {
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.app-primary-btn {
  background: #1d1b30;
}

.app-cancel-btn {
  background: #555555;
}

.form-text {
  margin: 0;
  font-size: 14px;
  color: grey;
  span {
    font-weight: bold;
  }
}

.alert {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  display: flex;
  justify-content: center;
  
  .btn-close {
    position: absolute;
    right: 10px;
  }
}

.sidenav, .topnav {
    .nav-items {
    list-style: none;
    padding-left: 0;
    overflow-y: auto;

    .nav-items__item {
      margin: 0px 14px;
      display: flex;
      flex-direction: column;
      transition: 0.3s;
      overflow: hidden;

      .collapse,
      .collapsing {
        ul {
          li {
            padding: 5px 30px;
            margin-right: 30px;
            font-size: 15px;
            border-radius: 10px;

            list-style: none;
            &:hover {
              background-color: rgba(255, 255, 255, 0.18);
            }
          }

          .item-expnd__link {
            color: white;
            text-decoration: none;
            white-space: nowrap;
          }
        }
      }
      .item-expand__button {
        display: flex;
        align-items: center;
        font-size: 16px;
        color: white;
        text-decoration: none;
        white-space: nowrap;
        border-radius: 10px;

        .main-icon {
          padding: 20px 15px 20px 17px;
        }
        span {
          padding-left: 10px;
        }
        .collapse-arrow {
          margin-left: auto;
          margin-right: 20px;
          transition: transform 0.3s;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.18);
        }

        &:not(.collapsed) {
          .collapse-arrow {
            transform: rotate(-90deg);
          }

          .main-icon {
            color: colors.$main-color;
          }
        }
      }
    }
  }
  .logo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;

    .logo {
      display: flex;
      align-items: center;
      color: white;

      .logo__name {
        margin: 0;
        font-size: 20px;
        span {
          color: colors.$main-color;
        }
      }

      .fa-solid {
        margin-right: 9px;
        font-size: 25px;
      }
    }
  }
  .profile-content {
    width: 100%;
    padding: 35px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    color: white;
    background-color: var(--secondary-background);
    white-space: nowrap;
    overflow: hidden;

    .profile_information__account-type {
      font-size: 13px;
    }
    
    img {
      height: 40px;
      width: 40px;
      margin-left: 8px;
      margin-right: 18px;
      border-radius: 10px;
    }
  }
  .logout-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-background);

    button {
      padding: 10px;
      background: none;
      border: none;
      color: white;
    }
  }
}

.sidenav {
  --primary-background: #11101d;
  --secondary-background: #1d1b30;

  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--primary-background);
  padding-top: 5px;
  transition: width 0.3s;
  z-index: 10;

  &:not(.active) {
    width: 78px;
  }

  &:not(.active) .hamburger-switch {
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  &:not(.active) .profile-content {
    .profile_information {
      display: none;
    }
  }

  &:not(.active) .logout-content {
    button {
      span {
        display: none;
      }
      i {
        margin: 0;
      }
    }
  }

  &:not(.active) .logo-content {
    .logo {
      opacity: 0;
    }
  }

  &:not(.active) .nav-items {
    .nav-items__item {
      span {
        display: none;
      }
      i {
        padding: 10px 15px;
      }
    }
  }

  .hamburger-switch {
    position: absolute;
    left: 260px;
    top: 5px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    color: white;
    background-color: #11101d;
    transition: 0.3s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    &:hover {
      color: colors.$main-color;
      cursor: pointer;
    }
  }
  .nav-items {
    margin-top: 30px;
  }

  .logout-content{
    margin-top: auto;
    button {
      white-space: nowrap;
      
      i {
        margin-left: 17px;
      }
    }
  }
}

.topnav {
  --primary-background: #11101d;
  --secondary-background: #1d1b30;

  position: fixed;
  width: 100%;
  background-color: var(--primary-background);
  z-index: 10;

  .navbar-toggler-icon {
    color: white;
  }
  .nav-items {
    margin-top: 10px;
  }
  .logout-content{
    margin-right: 20px;
    border-radius: 10px;
  }
}

.body-content {
  padding: 30px 10px;
  height: 100vh;

  h2 {
  margin-bottom: 30px;  
  text-align: center; 
  }
}

.info-box {
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 10px 12px;

  hr {
    margin: 0;
    width: 90%;
    color: white;
  }

  .info-box__icon {
    font-size: 23px;
    margin-bottom: 6px;
  }
  .info-box__title {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
  }
  .info-box__amount {
    margin-top: 5px;
    margin-bottom: 0;
  }
}

.pending-orders {
  background-color: #2A78CD;
}

.accepted-orders {
  background-color: #B534C1;
}

.in-progress-orders {
  background-color: #038674;
}

.completed-orders {
  background-color: #458606;
}

.garage-information,.car-information{

  .garage-information__info-box,.car-information__info-box {
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 18px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .about-garage, .about-car, .last-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 
    hr {
      margin: 5px;
      width: 60%;
    }
    .info-box__title{
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }
    .info-box__icon{
      font-size: 30px;
      margin: 20px 0;
    }

    .about-car__review-icon-ok{
      color: rgb(48, 191, 48);
    }
    .info-box__garage-name{
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 50p;
    }

    .info-box__details {
      span {
        font-weight: bold;
      }
    }
    .about-garage__address{
      list-style: none;
      margin-bottom: 36px;
      margin-right: 30px;

      li {
        margin: 10px 0;
        display: flex;
        align-items: center;
      }
      .address__icon {
        margin-right: 10px;
        font-size: 28px;
      }
    }
  }
}

.no-garage, .no-car {
  margin-top: 100px;
  .no-garage__box, .no-car__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    a {
      padding: 10px 30px;
    }
    hr {
      margin-top: 0;
      width: 70%;
    }
  }
}

.garage-create{
  h3 {
    text-decoration: underline;
  }
  input {
    width: 50%;
  }
  .places-widget {
    overflow: visible!important;

    input:first-child {
      width: 50%!important;
    }
    #id_location_1, #id_location_2 {
      display: none;
    }
  }
}
@media (max-width:576px) {
  .garage-create {
    input {
      width: 100%;
    }
  }
  .places-widget {
    overflow: visible!important;

    input:first-child {
      width: 100%!important;
    }
  }
  .info-box{
    padding: 10px 0px;
    .info-box__title {
      margin-bottom: 8px;
    }
  }
}

@media (max-width:768px) {
  body {
    padding-left: 0;

    .body-content {
      padding-top: 82px;
    }
  }

  .topnav {
    .nav-items {
      max-height: 280px;
      overflow-y: auto;
    }
    .profile-content {
      background-color: transparent;
    }
  }
}

@media (min-width:760px) {
  .alert {
    width: calc(100% - 78px);
  }
}