@use "utilities/colors";

@mixin add-column-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-padding-top: 55px;
}

.bg-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.7);
  z-index: -5;
}

.messages {
  position: fixed;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: white;
  background-color: rgba(black, 0.5);
  z-index: 10;

  ul {
    margin: 0;
    li {
      list-style-type: none;
    }
  }
}

.logo {
  padding: 6px 24px;
  .logo__title {
    text-transform: uppercase;
  }
  .logo__underscore {
    height: 3px;
    width: 100%;
  }
  .logo__underscore--white{
    background-color: white;
  }
  .logo__underscore--black{
    background-color: black;
  }
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  z-index: 5;

  .welcome-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .welcome-box__text {
      color: white;
    }
    .welcome-box__text--large {
      font-size: 35px;
    }
    .welcome-box__text--medium {
      font-size: 25px;
    }
    .welcome-box__text--colour {
      color: colors.$main-color;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;

    .buttons__btn {
      padding: 7px 21px;
      margin: 0 10px;
      text-transform: uppercase;
      transition: 0.3s;
      border-radius: 5px;
    }
    .buttons__btn--primary {
      background-color: colors.$main-color;
    }
    .buttons__btn:hover {
      background-color: black;
      color: colors.$main-color;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  text-transform: uppercase;
  background-color: rgba(black, 0.6);
  transition: background-color 0.3s;

  .navbar-brand:hover > .fa-solid {
    color: colors.$main-color;
  }
  .nav-link,.dropdown-toggle {
    color: white;
    border-radius: 20px;
    text-decoration: none;
  }

  .nav-link:hover,.dropdown-toggle:hover {
    color: colors.$main-color;
  }

  .dropdown-menu {
    margin-top: 7px;
    background-color: rgba(0,0,0,.6);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    li {
      text-align: center;
    }

    .nav-link:hover {
      color: colors.$main-color;
      background-color: rgba(black, 0.6);
    }
  }
  .navbar-nav {
    .active {
      color: colors.$main-color;
    }
  }
}

.about-app {
  background-color: rgb(247, 247, 247);
  text-align: center;
  @include add-column-flex();
}

.functions {
  position: relative;
  text-align: center;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  z-index: 5;
  @include add-column-flex();

  .functions-boxes {
    justify-content: space-around;
    

    .functions-boxes__column {
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      // background-color: rgba(black, 0.5);
      border-radius: 20px;

      .column__title {
        font-family: 'Kanit', sans-serif;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: bold;
        font-style: italic;
        letter-spacing: 1px;
      }

      .column-box {
        margin-bottom: 25px;

        .column-box__icon {
          font-size: 30px;
          margin-bottom: 10px;
        }
        .column-box__title {
          font-size: 16px;
          text-transform: uppercase;
          font-weight: bold;
        }
        .column-box__text {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 526px) {
  header {
    .welcome-box {
      .welcome-box__text--large {
        font-size: 30px;
      }
      .welcome-box__text--medium {
        font-size: 20px;
      }
    }
    .buttons {
      flex-direction: column;

      .buttons__btn {
        font-size: 13px;
        margin: 10px 0;
      }
    }
  }
}

@media (min-width:992px){
  .navbar-nav {
    align-items: center;
  }
}