@use "utilities/colors";

body {
  font-family: "Roboto", sans-serif;
}

.bg-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.5);
  z-index: -5;
}

.logo {
  padding: 6px 24px;
  .logo__title {
    text-transform: uppercase;
  }
  .logo_underscore {
    height: 5px;
    width: 100%;
    background-color: black;
  }
}

header {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  z-index: 5;

  .welcome-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .welcome-box__text {
      color: white;
    }
    .welcome-box__text--large {
      font-size: 35px;
    }
    .welcome-box__text--medium {
      font-size: 25px;
    }
    .welcome-box__text--colour {
      color: colors.$main-color;
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;

    .buttons__btn {
      padding: 7px 21px;
      margin: 0 10px;
      text-transform: uppercase;
      transition: 0.3s;
      border-radius: 5px;
    }
    .buttons__btn--primary {
      background-color: colors.$main-color;
    }
    .buttons__btn:hover {
      background-color: black;
      color: colors.$main-color;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  text-transform: uppercase;
  background-color: rgba(black, 0.6);
  transition: background-color 0.3s;

  .navbar-brand:hover > .fa-solid {
    color: greenyellow;
  }
  .nav-link {
    color: white;
    border-radius: 20px;
  }

  .nav-link:hover {
    color: greenyellow;
  }

  .dropdown-menu {
    background-color: transparent;

    li {
      text-align: center;
    }

    .nav-link:hover {
      color: greenyellow;
      background-color: rgba(black, 0.6);
    }
  }
}

.about-app {
  background-color: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 526px) {
  header {
    .welcome-box {
      .welcome-box__text--large {
        font-size: 30px;
      }
      .welcome-box__text--medium {
        font-size: 20px;
      }
    }
    .buttons {
      flex-direction: column;

      .buttons__btn {
        font-size: 13px;
        margin: 10px 0;
      }
    }
  }
}
